.header__link {
  text-decoration: none;
  font-family: 'Muller';
  color: #06060B;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__link:hover {
  color: #46F4DB;
}

.header__link:focus {
  outline: none;
  border: 2px solid  #57D272;
  padding: 3px 8px;
}

.header__link:active {
  color: #57D272;
}

@media screen and (max-width: 820px) {
  .header__link {
    font-size: 16px;
  }
}
